temp/
test/
coventry/
recovery/
.*
.*.swp
*.tgz
*.tar
*.gz
*.list
*.txt

# specific files to ignore.
# These are dependent on separate git repos
#
.data/patchreview.prj
extract-html-pre
togglebit
chkbit
getbit
funcs
cscope*
test-inspect
