temp/
test/
coventry/
recovery/
.data/
*.prj
.*.swp
*.tgz
*.tar
*.gz

# specific files to ignore.
# These are dependent on separate git repos
#
.data/patchreview.prj
extract-html-pre
togglebit
chkbit
getbit
funcs
cscope*
test-inspect
sparse
